<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>


<div ng-app="myApp" ng-controller="myCtrl">
	<h2>1. Creating a Select Box Using ng-options</h2>
	<select ng-model="selectedName" ng-options="x for x in names"></select>
	<p>{{selectedName}}</p>

	<h2>2. ng-options vs ng-repeat</h2>
	<select>
		<option ng-repeat="x in names">{{ x }}</option>
	</select>

	<h2>3. What Do I Use?</h2>
	using ng-repeat:<br>
	<select ng-model="selectedCar">
		<option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
	</select>
	<h1> You selected: {{selectedCar}}</h1>
	using ng-options:<br>
	<select ng-model="selectedCar" ng-options="x.model for x in cars"></select>
	<h1> You selected {{selectedCar.model}}</h1>
	<p> It's color is {{selectedCar.color}}</p>
	
	<h2>4. The Data Source as an Object</h2>
	<select ng-model="selectedCars" ng-options="x for (x, y) in carsObj"></select>
	<h1> You selected: {{selectedCars}}</h1>
	The selected value will always be the value in a key-value pair.<br>
	The options in the dropdown list does not have be the key in a key-value pair, it can also be the value, or a property of the value object:
	<select ng-model="selectedCarsNew" ng-options="y.brand for (x, y) in carsObjNew"></select>
</div>

<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		$scope.names = ["Emil", "Tobias", "Linus"]
		$scope.cars = [
		    {model : "Ford Mustang", color : "red"},
		    {model : "Fiat 500", color : "white"},
		    {model : "Volvo XC90", color : "black"}
		];
		$scope.carsObj = {
			car01 : "Ford",
			car02 : "Fiat",
			car03 : "Volvo"
		};

		$scope.carsObjNew = {
			car01 : {brand : "Ford", model : "Mustang", color : "red"},
			car02 : {brand : "Fiat", model : "500", color : "white"},
			car03 : {brand : "Volvo", model : "XC90", color : "black"}
		};
	});
</script>

</body>
</html>